/* https://dizzy.systems/editor/dashboard */
/* https://ipalettes.com/theme/shadcn */

@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-background: hsl(149.1 50% 95%);
  --color-foreground: hsl(149.1 2.5% 7.5%);
  --color-card: hsl(149.1 25% 95%);
  --color-card-foreground: hsl(149.1 2.5% 12.5%);
  --color-popover: hsl(149.1 50% 97.5%);
  --color-popover-foreground: hsl(149.1 97.5% 5%);
  --color-primary: hsl(149.1 50% 25.1%);
  --color-primary-foreground: hsl(0 0% 100%);
  --color-secondary: hsl(149.1 20% 80%);
  --color-secondary-foreground: hsl(0 0% 0%);
  --color-muted: hsl(187.1 20% 90%);
  --color-muted-foreground: hsl(149.1 2.5% 37.5%);
  --color-accent: hsl(187.1 20% 85%);
  --color-accent-foreground: hsl(149.1 2.5% 12.5%);
  --color-destructive: hsl(0 75% 40%);
  --color-destructive-foreground: hsl(149.1 2.5% 95%);
  --color-border: hsl(149.1 25% 66%);
  --color-input: hsl(149.1 25% 34%);
  --color-ring: hsl(149.1 88.7% 45.3%);
  --color-radius: 0.5rem;
  --color-sidebar-background: hsl(149 50% 90%);
  --color-sidebar-foreground: hsl(149 3% 7%);
  --color-sidebar-primary: hsl(149 50% 23%);
  --color-sidebar-primary-foreground: hsl(0 0% 100%);
  --color-sidebar-accent: hsl(187 20% 81%);
  --color-sidebar-accent-foreground: hsl(0 0% 0%);
  --color-sidebar-border: hsl(149 25% 63%);
  --color-sidebar-ring: hsl(139 98% 45%);
}

.dark {
  --color-background: hsl(149.1 30% 7.5%);
  --color-foreground: hsl(149.1 2.5% 95%);
  --color-card: hsl(149.1 25% 5%);
  --color-card-foreground: hsl(149.1 2.5% 95%);
  --color-popover: hsl(149.1 30% 5%);
  --color-popover-foreground: hsl(149.1 2.5% 95%);
  --color-primary: hsl(149.1 50% 25.1%);
  --color-primary-foreground: hsl(0 0% 100%);
  --color-secondary: hsl(149.1 20% 15%);
  --color-secondary-foreground: hsl(0 0% 100%);
  --color-muted: hsl(187.1 20% 20%);
  --color-muted-foreground: hsl(149.1 2.5% 62.5%);
  --color-accent: hsl(187.1 20% 20%);
  --color-accent-foreground: hsl(149.1 2.5% 92.5%);
  --color-destructive: hsl(0 75% 40%);
  --color-destructive-foreground: hsl(149.1 2.5% 95%);
  --color-border: hsl(149.1 25% 34%);
  --color-input: hsl(149.1 25% 34%);
  --color-ring: hsl(149.1 88.7% 45.3%);
  --color-radius: 0.5rem;
  --color-sidebar-background: hsl(149 30% 10%);
  --color-sidebar-foreground: hsl(149 3% 100%);
  --color-sidebar-primary: hsl(149 50% 20%);
  --color-sidebar-primary-foreground: hsl(0 0% 100%);
  --color-sidebar-accent: hsl(187 20% 17%);
  --color-sidebar-accent-foreground: hsl(0 0% 100%);
  --color-sidebar-border: hsl(149 25% 32%);
  --color-sidebar-ring: hsl(139 98% 45%);
}
